@import "tailwindcss";

/* small helpers */
html,body,#root { height:100%; }
.animate-fade {
  animation: fadeIn 0.6s ease forwards;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(8px); }
  to { opacity: 1; transform: translateY(0); }
}